a {
  color: #000000;
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 2.0;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-display: auto;
}

generalTitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

jobTitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.level {
  width: 320px;
  margin: auto; 
}

.midlevel {
  width: 320px;
  min-height: 180px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.sublevel {
  width: 320px;
  height: 180px;
  position: absolute;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.linkGroup {
  display: flex; 
  gap: 15px; 
  flex-wrap: wrap; 
  justify-content: center
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.tableDefault {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.tableWhite {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  min-height: 200px;
  margin-top: 10px;
}

.tableBlue {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
  background-color: #a6cde6;
  min-height: 200px;
  margin-top: 10px;
}

.divIconText {
  display: flex; 
  gap: 5px; 
  align-items: center;
  padding-right: 10px;
}

.td2 {
  padding:20px;
  vertical-align:text-top;
}

.tdHeader {
  padding:20px;
  width:100%;
  vertical-align:middle
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 770px) { /* breakpoint for typical phone screens */

  table {
    display: block;
    width: 100%;
  }

  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  tr {
    display: flex;
    flex-direction: column;
  }
  .table-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .td_photo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .selfi {
    width: 40%;
  }

  .level {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0px;
  }

}

@media (min-width: 770px) {

  .td1 {
    width: 45%;
    padding:20px;
    vertical-align:middle;
    height: auto;
  }

  .td2 {
    width: 55%;
  }

  .td_intro {
    width: 65%;

  }

  .td_photo {
    width: 40%;
    max-width: 40%;
  }

  .selfi {
    width: 100%;
  }
}